*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to bottom,
    hsl(240deg 20% 10%),
    hsl(240deg 40% 2%)
  );
  height: 100vh;
  font-family: "Sofia Pro", sans-serif;
  color: hsl(60deg 100% 95%);
}
